.body__servicios {
    font-size: 10px;
    background-image: url(../assets-polo/pexels-milena-de-narvaez-ayllon-2889030.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}